#search
{
  float: left;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#search #searchWrapper
{
  position: relative;
  max-width: 500px;
  padding: 15px;
  margin: 55px 0 25px 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 50, 50, 0.2);
  box-shadow: inset 1px 1px 4px rgba(50, 50, 50, 0.15);
}


#search #searchWrapper > input[type="text"]
{
  width: 250px;
  float: left;
  padding-right: 45px;
}


#search #searchWrapper > div
{
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 25px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#search #searchWrapper > div span
{
  font-size: 0.8rem;
  color: rgba(50, 50, 50, 0.7);
  font-weight: bold;
}

#search #searchWrapper > div span.notFound
{
  color: rgba(245, 50, 50, 1);
}

#search #searchWrapper::before
{
  content: '';
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 25px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 2px rgba(50, 50, 50, 0.25);
}

#search #searchWrapper::after
{
  content: '';
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 33px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: rgba(50, 50, 50, 0.25);
  transform-origin: top right;
  transform: rotate(-35deg);
}

#search #items
{
  float: left;
  clear: both;
  width: 100%;
  padding: 20px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}


@media all and (max-width: 767px)
{
  #search #items
  {
    padding: 5px;
  }
}


#search #items article
{
  width: 25%;
  float: left;
  padding: 20px;
}


@media all and (max-width: 1279px)
{
  #search #items article
  {
    width: 33.33%;
  }
}


@media all and (max-width: 979px)
{
  #search #items article
  {
    width: 50%;
  }
}


@media all and (max-width: 767px)
{
  #search #items article
  {
    width: 100%;
    padding: 12px 20px;
  }
}


#search #items article > *
{
  float: left;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 50, 50, 0.2);
  box-shadow:  1px 1px 2px rgba(50, 50, 50, 0.25);
}

#search #items article > * > figure
{
  float: left;
  width: 100%;
  height: 25vh;
  min-height: 18vw;
  border-bottom: 1px solid rgba(50, 50, 50, 0.15);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media all and (max-width: 1279px)
{
  #search #items article > * > figure
  {
    min-height: 20vw;
  }
}


@media all and (max-width: 979px)
{
  #search #items article > * > figure
  {
    min-height: 30vw;
  }
}


@media all and (max-width: 767px)
{
  #search #items article > * > figure
  {
    min-height: 60vw;
  }
}


#search #items article > * > div
{
  float: left;
  width: 100%;
  padding: 10px 20px;
}

#search #items article > * > div h1,
#search #items article > * > div p
{
  float: left;
  width: 100%;
  padding: 10px 0;
}

#search #items article > * > div h1
{
  text-transform: uppercase;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search #items article > * > div p, #search #items article > * > div p *
{
  text-align: justify;
  line-height: 1.4rem;
  overflow: hidden;
}

#search #items article > * > div p:first-letter
{
  text-transform: uppercase;
}

#search #items article *.found
{
  position: relative;
}

#search #items article *.found::before
{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 155, 50, 0.75);
}